<!-- Page Content -->
<header class="bg-dark py-5 mb-5">
  <div class="container h-100">
    <div>
      <img src="/assets/dextra-logo.png" />
    </div>
      <div class="row h-100 align-items-center">
          <div class="col-lg-10">
              <h1 class="display-5 text-white mt-2 ml-4">Hamburgueria</h1>
          </div>
      </div>
  </div>
</header>

<div class="container main-container">
  <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
              <img class="card-img-top" src="/assets/full_dev.jpg" height="164px" width="253px" alt="">
              <div class="card-body">
                  <h4 class="card-title">Relatório Técnico</h4>
                  <p class="card-text">Aqui você pode ler uma explicação sobre as escolhas de design de cógido.</p>
              </div>
              <div class="card-footer">
                  <a href="https://docs.google.com/document/d/1gLR1kee_7uj988C16lhIGvvlRQ68r6HhVrmen_Scqj8/edit?usp=sharing" target="_blank" class="btn btn-dark">Saiba mais</a>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
              <img class="card-img-top" src="/assets/git-hub.png" height="164px" width="253px" alt="">
              <div class="card-body">
                  <h4 class="card-title">GitHub</h4>
                  <p class="card-text">Veja o repositório do desafio.</p>
              </div>
              <div class="card-footer">
                  <a href="https://github.com/s4nderx/hamburgueria" target="_blank" class="btn btn-dark">Saiba mais</a>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
              <img class="card-img-top" src="/assets/linkedin.png" height="164px" width="253px" alt="">
              <div class="card-body">
                  <h4 class="card-title">Linkedin</h4>
                  <p class="card-text">Visite meu linkedin.</p>
              </div>
              <div class="card-footer">
                  <a href="https://www.linkedin.com/in/phellipe-sander/" target="_blank" class="btn btn-dark">Saiba mais</a>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
              <img class="card-img-top" src="/assets/crossplat.jpg " height="164px" width="253px" alt="">
              <div class="card-body">
                  <h4 class="card-title">Aplicação</h4>
                  <p class="card-text">Vá para o cadastro de hamburguer.</p>
              </div>
              <div class="card-footer">
                  <a [routerLink]="['/hamburgueria/list']" class="btn btn-dark">Saiba mais</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Fim Content -->
