<div class="container main-container">

  <h1>Novo Hamburguer</h1>

  <hr>
  <div class="row">
      <div class="col-md-10">
          <form #burguerForm="ngForm" novalidate="novalidate">

              <div class="alert alert-danger" *ngIf="errors.length > 0">
                  <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                  <ul>
                    <li *ngFor="let error of errors">{{ error.message }}</li>
                  </ul>
              </div>

              <div class="form-group">
                  <label class="control-label">Nome</label>
                  <div>
                      <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)"
                      [(ngModel)]="newHamburguer.name"
                      name="name"
                      #name="ngModel"
                      [ngClass]="applyCssError(name, burguerForm)"
                      required/>
                  </div>
                  <div class="invalid-feedback">
                    Campo deve ser preenchido.
                  </div>
              </div>

              <h4>Ingredientes</h4>
              <hr>

              <div class="col-sm-8 mb-5" *ngFor="let item of ingredients">

                <label>{{item.name}}</label><br>

                <div class="form-check-inline">
                    <button class="btn btn-dark" (click)="minus(item)" type="button"><i class="fa fa-minus"></i></button>
                </div>
                <div class="form-check-inline">
                    <input type="text" class="form-control" [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-check-inline">
                    <button class="btn btn-dark" (click)="plus(item)" type="button"><i class="fa fa-plus"></i></button>
                </div>

              </div>

              <div class="form-group">
                  <input type="submit" value="Cadastrar" class="btn btn-primary" (click)="enviar()" [disabled]="!burguerForm.valid">&nbsp;
                  <a class="btn btn-info" [routerLink]="[ '/hamburgueria/list']">Voltar</a>
              </div>

          </form>
      </div>
  </div>
</div>
